<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>oa</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Check</servlet-name>
    <servlet-class>servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check</servlet-name>
    <url-pattern>/servlet/Check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndex</servlet-name>
    <servlet-class>servlet.AdminIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndex</servlet-name>
    <url-pattern>/servlet/AdminIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookAdd</servlet-name>
    <servlet-class>servlet.BookAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAdd</servlet-name>
    <url-pattern>/servlet/BookAdd</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>BookEdit</servlet-name>
    <servlet-class>servlet.BookEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookEdit</servlet-name>
    <url-pattern>/servlet/BookEdit</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>BookEditDo</servlet-name>
    <servlet-class>servlet.BookEditDoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookEditDo</servlet-name>
    <url-pattern>/servlet/BookEditDo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookDelete</servlet-name>
    <servlet-class>servlet.BookDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDelete</servlet-name>
    <url-pattern>/servlet/BookDelete</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>UserIndex</servlet-name>
    <servlet-class>servlet.UserIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserIndex</servlet-name>
    <url-pattern>/servlet/UserIndex</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>UserList</servlet-name>
    <servlet-class>servlet.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserList</servlet-name>
    <url-pattern>/servlet/UserList</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>UserAdd</servlet-name>
    <servlet-class>servlet.UserAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAdd</servlet-name>
    <url-pattern>/servlet/UserAdd</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>UserEdit</servlet-name>
    <servlet-class>servlet.UserEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEdit</servlet-name>
    <url-pattern>/servlet/UserEdit</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>UserEditDo</servlet-name>
    <servlet-class>servlet.UserEditDoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditDo</servlet-name>
    <url-pattern>/servlet/UserEditDo</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>UserDelete</servlet-name>
    <servlet-class>servlet.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDelete</servlet-name>
    <url-pattern>/servlet/UserDelete</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>UploadBook</servlet-name>
    <servlet-class>servlet.UploadBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadBook</servlet-name>
    <url-pattern>/servlet/UploadBook</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>CheckBook</servlet-name>
    <servlet-class>servlet.CheckBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBook</servlet-name>
    <url-pattern>/servlet/CheckBook</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>SaveUpBook</servlet-name>
    <servlet-class>servlet.SaveUpBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUpBook</servlet-name>
    <url-pattern>/servlet/SaveUpBook</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>SchManage</servlet-name>
    <servlet-class>servlet.SchManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchManage</servlet-name>
    <url-pattern>/SchManage</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>SchAdd</servlet-name>
    <servlet-class>servlet.SchAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchAdd</servlet-name>
    <url-pattern>/SchAdd</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>SchDelete</servlet-name>
    <servlet-class>servlet.SchDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchDelete</servlet-name>
    <url-pattern>/SchDelete</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>MajManage</servlet-name>
    <servlet-class>servlet.MajManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajManage</servlet-name>
    <url-pattern>/MajManage</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>MajAdd</servlet-name>
    <servlet-class>servlet.MajAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajAdd</servlet-name>
    <url-pattern>/MajAdd</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>MajDelete</servlet-name>
    <servlet-class>servlet.MajDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MajDelete</servlet-name>
    <url-pattern>/MajDelete</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>SubManage</servlet-name>
    <servlet-class>servlet.SubManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubManage</servlet-name>
    <url-pattern>/SubManage</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>SubAdd</servlet-name>
    <servlet-class>servlet.SubAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubAdd</servlet-name>
    <url-pattern>/SubAdd</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>SubAddDo</servlet-name>
    <servlet-class>servlet.SubAddDoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubAddDo</servlet-name>
    <url-pattern>/SubAddDo</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>SubDelete</servlet-name>
    <servlet-class>servlet.SubDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubDelete</servlet-name>
    <url-pattern>/SubDelete</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>DeleteCom</servlet-name>
    <servlet-class>servlet.DeleteComServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCom</servlet-name>
    <url-pattern>/DeleteCom</url-pattern>
  </servlet-mapping>
  
</web-app>